.modal {
  background-color: rgb(21, 21, 21) !important;
  border-radius: 15px;
}

.modal button {
  border: 1px solid rgb(21, 21, 21);
  font-weight: 700;
  font-size: 21px;
  color: rgb(125, 125, 125);
  background-color: rgb(51, 51, 51);
  margin-top: -15px;
}

.modal .modal-body {
  display: flex;
  justify-content: space-around;
}

.modal-footer {
  display: none
}

.modal-content {
  /* padding: 0 !important; */
  overflow: hidden;
}
