body {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
}

.column {
  max-width: 45%;
}

.rune-count {
  box-sizing: border-box;
  padding: 1%;
  margin-bottom: 2%;
  width: 100%;
  font-weight: 700;
  border-bottom: 1px solid white;
}

.rune-list-container {
  border: white 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  height: fit-content;
  margin: 0;
  padding-bottom: 1%;
  width: 100%;
}

.rune-list {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
}

.rune-name-container {
  width: 33%;
}


/* style para lista de nomes das runas */
p.champion,
p.spell,
p.equip,
p.relic {
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
}

p.champion:hover,
p.spell:hover,
p.equip:hover,
p.relic:hover {
  color: lightskyblue;
  text-decoration: underline;
}
