body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.champion {
  cursor: pointer;
  margin: 1px;
  text-decoration-color: white;
  text-decoration: underline;
  width: fit-content;
}

.rune-info {
  height: 424px;
  width: 332px;
}

.rune-frame {
  height: 418px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 332px;
  z-index: -5999;
}

.rune-image {
  height: 310px;
  left: 31px;
  position: absolute;
  top: 47px;
  width: 270px;
  z-index: -7888;
}

.rune-rarity {
  height: 418px;
  left: 0;
  position: absolute;
  top: 0;
  width: 332px;
  z-index: -6888;
}

.rune-faction {
  height: 22px;
  left: 40px;
  position: absolute;
  top: 34px;
  width: 30px;
  z-index: 1;
}

.rune-faction-1 {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

.rune-faction-2 {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.rune-name {
  font-size: 17px;
  font-weight: 700;
  left: 45px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 2px 1px #000000;
  top: 36px;
  width: 240px;
  z-index: 1;
}

.rune-cost {
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  left: 272px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 2px 1px #000000;
  top: 29px;
  width: 42px;
  z-index: 1;
}

.rune-stats {
  background-image: url('https://d2aao99y1mip6n.cloudfront.net/_themes/global/frames/large/rune_stats.png');
  background-repeat: no-repeat;
  height: 50px;
  left: 0;
  position: absolute;
  top: 345px;
  width: 332px;
}

.rune-atk {
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 40px;
  position: absolute;
  text-align: center;
  width: 46px;
  z-index: 1;
}

.rune-spd {
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 91px;
  position: absolute;
  text-align: center;
  width: 46px;
  z-index: 1;
}

.rune-rng {
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 142px;
  position: absolute;
  text-align: center;
  width: 46px;
  z-index: 1;
}

.rune-def {
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 193px;
  position: absolute;
  text-align: center;
  width: 46px;
  z-index: 1;
}

.rune-hp {
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 244px;
  position: absolute;
  text-align: center;
  width: 46px;
  z-index: 1;
}

.rune-back {
  height: 424px;
  left: 332px;
  position: absolute;
  top: 0;
  width: 332px;
  z-index: -9999;
}

.rune-back-faction {
  height: 22px;
  left: 40px;
  position: absolute;
  top: 34px;
  width: 30px;
}

.rune-back-name {
  font-size: 17px;
  font-weight: 700;
  left: 45px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 2px 1px #000000;
  top: 36px;
  width: 240px;
}

.rune-back-flavor {
  color: white;
  font-size: 10px;
  height: 67px;
  left: 33px;
  line-height: 11px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 262px;
}

.rune-back-abilities {
  height: 144px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  left: 30px;
  position: absolute;
  top: 130px;
  width: 270px;
}

.rune-back-ability {
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  margin: 4px 0 0 6px;
  max-width: 124px;
  flex-grow: 0;
}

.rune-back-ability-icon {
  width: 30px;
  height: 30px;
}

.rune-back-ability-info {
  font-size: 10px;
  margin-left: 5px;
  width: 89px;
}

.rune-back-attributes {
  position: absolute;
  width: 100px;
  top: 295px;
  left: 45px;
  line-height: 12px;
}

.rune-back-attributes-value {
  color: #9fbe52;
}

.rune-back-idol {
  position: absolute;
  bottom: 31px;
  right: 30px;
  width: 160px;
  height: 150px;
}

.rune-idol {
  position: absolute;
  bottom: 0;
  right: 50px;
  display: block;
  margin: 0 auto;
}

.rune-set {
  text-align: center;
  position: relative;
  width: 240px;
  left: 379px;
  bottom: 10px;
  margin: 0;
}